*{
    font-family: 'proxima-soft', sans-serif;
}
#container{
    position: relative;
    width:100%;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}
#mapwrap{
    position: relative;
    width:100%;
    margin: auto;
    height: 100vh;
}
#map{
    width:100%;
    height: 100%;
    position: relative;
}
#menu{
    z-index: 5;
    position: absolute;
    bottom: 15px;
    left:15px;
    background-color: #fff;
    width: fit-content;
    max-width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #ddd 0 0 6px 2px;
}
#menu h3{
    font-weight: 900;
    font-size:24px;
}
input[type=checkbox]{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
  width:2em;
}
.enr-label{
    color: #448843;
    font-weight: 700;
}
.inp-label{
    color: #f2a900;
    font-weight: 700;
}
#pcr-pop{
    position: absolute;
    top:0;
    z-index: 6;
    background: #ffffffee;
    display: none;
    padding: 2px;
    flex-direction: column;
}
#pcr-pop .info{
    padding: 5px 10px;
}
.barchart{
    width:100%;
    display: flex;
    background: #ddd;
}
.barchart .bar{
    height:7px;
}
.enr-p{
    background: #448843;
}
.inp-p{
    background: #f2a900;
}
#pcr-pop p{
    margin-bottom: 0;
    font-size: 14px;
}
.enr_info span{
    color: #448843
}
.inp_info span{
    color: #f2a900
}
#pcr-pop .pcr-name{
    font-weight: 800;
    font-size: 16px;
    color: #222;
    margin-bottom: 0;
}
.mapboxgl-popup-content{
    background: #ffffffee;
}
.hosp-pop h3{
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 0;
}
.hosp-pop p{
    margin-bottom: 5px;
}
.hosp-pop p span{
    font-style: italic;
}
.hosp-pop .enrolled{
    color:green;
}
.hosp-pop .in-progress{
    color: sandybrown;
}
.hosp-pop .not-enrolled{
    color: #D1618B;
}

